

@{
    Layout = "~/Views/_BaseLayout.cshtml";
}



<!doctype html>
<html lang="en" ng-app="Enlighten">
<head>
    <title>Enlighten</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->

  
 
</head>
<body class="dark-edition">

    <div class="wrapper ">
        <div class="sidebar" data-color="azure" data-background-color="black" data-image="Contents/img/sidebar.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="http://www.fire-fly.studio" class="simple-text logo-normal">
                    Enlighten
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active  ">
                        <a class="nav-link" href="#">
                            <i class="glyphicon glyphicon-th"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="glyphicon glyphicon-edit"></i>
                            <p>Sales</p>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" href="#">
                            <i class="glyphicon glyphicon-th-list"></i>
                            <p>Inventory</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            <p>Purchase</p>
                        </a>
                    </li>
                    
                  
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#sub-item-1">
                            <i class="glyphicon glyphicon-cog"></i>
                            <p>Settings <span class="caret" data-toggle="collapse" href="#sub-item-1"></span></p>
                        </a>
                        <ul class="children collapse" id="sub-item-1">
                            <li class="nav nav-item">
                                <a class="nav-link" href="#">
                                    <i class="glyphicon glyphicon-edit">&nbsp;</i> লেজার
                                </a>
                            </li>
                            <li class="nav nav-item">
                                <a class="nav-link" href="#">
                                    <i class="glyphicon glyphicon-th-list"></i> Inventory
                                </a>
                            </li>
                            <li class="nav nav-item">
                                <a class="nav-link" href="#">
                                    <i class="glyphicon glyphicon-barcode"></i> Product
                                </a>
                            </li>

                            <li class="nav nav-item">
                                <a class="nav-link"  href="~/Company">
                                    <i class="glyphicon glyphicon-folder-open"></i> Company
                                </a>
                            </li>
                            <li class="nav nav-item">
                                <a class="nav-link" href="~/User">
                                    <i class="glyphicon glyphicon-user"></i> User
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" href="#">
                            <i class="glyphicon glyphicon-th"></i>
                            <p>Reports</p>
                        </a>
                    </li>
                    <!-- your sidebar here -->
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->

            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-home"> </i>  @Session["CompanyName"]</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                         
                            </li>
                            <li></li>
                            <li class="nav-item">
                                @*<button onclick="location.href='@Url.Action("Logout", "Login")'" class="btn  btn-warning" >  
                                <i class="glyphicon glyphicon-log-out"></i> Logout
                                </button>*@
                            </li>
                           
                          
                            <li class="dropdown">
                               
                                    <a class="btn btn-link  dropdown-toggle"  data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-user"> </i>  &nbsp; @Session["FullName"]
                                  
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                                      
                                    </ul>
                               
                            </li>
                            
                            <!-- your navbar here -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                   
                    <!-- your content here -->
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li class="nav-item   ">
                                <a class="nav-link" href="#">
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link" href="#">
                                  
                                    Sales
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link" href="#">
                           
                                  Inventory
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#">
                            
                                  Purchase
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#">

                                    Reports
                                </a>
                            </li>
                            <li class="nav nav-item">
                                <a class="nav-link" href="~/Company">
                                 Company
                                </a>
                            </li>
                            <li class="nav nav-item">
                                <a class="nav-link" href="#">
                                   Ledger
                                </a>
                            </li>
                            <li class="nav nav-item">
                                <a class="nav-link" href="#">
                                    Products
                                </a>
                            </li>
                         
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
              document.write(new Date().getFullYear())
                        </script>, All Rights Reserved 
                        <a href="http://www.fire-fly.studio" target="_blank"> Firefly Studio</a> 
                    </div>
                    <!-- your footer here -->
                </div>
            </footer>
        </div>
    </div>
 
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Contents/scripts/material-dashboard.js?v=2.1.0"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! --> 

   
        <script>
            //Sessio Timeout...........
            var sessionTimeoutWarning = @Session.Timeout -1;
            var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
            setTimeout('SessionEnd()', sTimeout);
            function SessionEnd() {
                window.location = "Login/LogOut";
            }
    </script>
</body>
</html>